
.menu{
  margin-bottom: 20px;
}

.opcoesMenu{
  
 a{
  color: #000,
 }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}

body{
  background-color: #F8F8FF;
}

.conteudo-principal {
  padding-top: 64px; // ou ajuste conforme a altura do seu AppBar
}
